# IDE Files
.vscode/

# Environment Variables
.env
k8s/dev/secret.yaml
k8s/prod/secret.yaml

# Node Modules
node_modules/

# Build Outputs
dist/
*.log
*.tgz
*.tsbuildinfo
.tsbuildcache